@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #82DBD8;
}
.contenedor {
  animation :blink 1.5s infinite;
  }
  @keyframes blink{
      0%{
          opacity: 0;
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
      }
  }
  * {
      box-sizing: border-box;
  }
  .miNombre{
    font-size: 70px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 50px;
}
.React{
  font-size: 50px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
.animacion{
  background-color: teal;
  animation: typing 1s steps(10, end) infinite;
}
@keyframes typewriter {
  to{
    left: 100%;
  }
}
.Imagen-carrusel{
  width: 100%;
  height: 100%;
}